.App {
  width: auto;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#AppBody {
  flex: 1;
}

.citation {
  padding-left: 2em;
}

footer {
  flex-shrink: 0;
  margin: 2em;
}

footer>p {
  margin: 2px 0;
  text-align: center;
}

#translationDiv {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: start;
  word-wrap: break-word;
}

#translationDiv>p {
  margin: 0;
}